@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.signUp-page {
  //height: 100vh;
  display: flex;
  color: white;
  gap: 2rem;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 5rem;

  .signUp-page__container {
    background: #161d2f;
    width: 20rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.75rem;

    //align-items: start;

    .signUp-page__container__title {
      font-size: 2rem;
    }

    .signUp-page__container__form {
      display: grid;
      font-size: 0.85rem;

      .signUp-page__container__form__input-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        //grid-column-gap:2rem ;
        position: relative;

        .signUp-page__container__form__input {
          outline: none;
          background: none;
          padding: 0 0 0.75rem 0.75rem;
          margin: 0.5rem 0;
          color: gray;
          border: none;
          caret-color: #fc4747; /* or any other color you prefer */
          border-bottom: 2px solid #5a698f;
        }

        .signUp-page__container__form__input_signUpEmail__error {
          position: absolute;
          right: 0.2rem; /* Adjust as per your preference */
          bottom: 70%;
          transform: translateY(50%);
          color: red;
        }

        .signUp-page__container__form__input_signUpPassword__error {
          position: absolute;
          right: 0; /* Adjust as per your preference */
          bottom: 32%;
          transform: translateY(50%);
          color: red;
        }
        .signUp-page__container__form__input_passwordMatch__error {
          position: absolute;
          right: 0; /* Adjust as per your preference */
          bottom: -4%;
          transform: translateY(50%);
          color: red;
        }
      }

      .signUp-page__container__form__button {
        margin-top: 2.5rem;
        padding: 0.65rem 0;
        border: none;
        outline: none;
        border-radius: 0.25rem;
        cursor: pointer;
      }

      .signUp-page__container__form__button {
        background: #fc4747;
        color: white;
      }

      .signUp-page__container__form__button--valid {
        background-color: green; // Color when both inputs are valid
      }

      .signUp-page__container__form__button--invalid {
        background-color: red; // Color when at least one input is invalid
      }
    }

    .signUp-page__container__text {
      text-align: center;
      //border: 1px solid red;
      display: flex;
      justify-content: space-around;

      .signUp-page__container__text__link {
        text-decoration: none;
        color: #fc4747;
      }
    }
  }
}
