.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 4%);
  margin: 4% 2%;
  color: white;
  position: relative;
  cursor: pointer;

  &:hover .card__image-wrapper__playIcon__container {
    opacity: 1;
  }

  &:hover .card__image {
    filter: brightness(50%);
  }

  &__image-wrapper {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
    &__image {
      width: 100%;
      object-fit: cover;
    }

    .card__image-wrapper__playIcon__container {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0.5rem 0.75rem;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.3);
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .icon {
      position: absolute;
      top: 0.75rem;
      right: 1rem;
      background: rgba(0, 0, 0, 0.5);
      padding: 0.75rem;
      border-radius: 50%;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 0.5rem;
    color: rgb(174, 182, 201);
    //justify-content: space-between;
  }

  &__detail {
    margin-top: 0.5rem;
    //flex: 1;
    text-align: center;

    &--category {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  &__name {
    margin-top: 0.5rem;
    font-weight: bold;
  }
}

///// FOR  TABLET////////////////////////////////

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet-only styles here */

  .card {
    flex-basis: calc(33.333% - 4%);
    .card__image-wrapper__playIcon__container {
      gap: 1rem;
    }
  }
}

/////FOR DESKTOP////////////////////////////////

@media (min-width: 1024px) {
  .card {
    flex-basis: calc(25% - 4%);
    .card__image-wrapper__playIcon__container {
      gap: 1rem;
    }
  }
}
