.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 4%);
  margin: 4% 2%;
  color: white;

  &__image-wrapper {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    &__image {
      width: 100%;
      object-fit: cover;
    }

    .icon {
      position: absolute;
      top: 0.75rem;
      right: 1rem;
      background: rgba(0, 0, 0, 0.5);
      padding: 0.75rem;
      border-radius: 50%;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 0.5rem;
    color: rgb(174, 182, 201);
    //justify-content: space-between;
  }

  &__detail {
    margin-top: 0.5rem;
    //flex: 1;
    text-align: center;

    &--category {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  &__name {
    margin-top: 0.5rem;
    font-weight: bold;
  }
}

///// FOR  TABLET////////////////////////////////

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet-only styles here */

  .card {
    flex-basis: calc(33.333% - 4%);
  }
}

/////FOR DESKTOP////////////////////////////////

@media (min-width: 1024px) {
  .card {
    flex-basis: calc(25% - 4%);
  }
}
