.movie-card__header {
  color: white;
  margin: 4% 0 4% 4%;
}

.movie-card__wrapper {
  display: flex;
  //gap: 1.25rem;
  flex-wrap: wrap;
  //margin: 0 4%;
  //justify-content: space-between;
}


/////FOR DESKTOP////////////////////////////////

@media (min-width: 1024px) {
  .movie-card__header {
    color: white;
    margin: 4% 0 2% 3%;
    font-size: 1.5rem;
  }
}


//.movie-card {
//  display: flex;
//  flex-direction: column;
//  flex-basis: calc(50% - 4%);
//  margin: 4% 2%;
//  //gap: 16px;
//  //width: 193px;
//  color: white;
//
//  &__image-wrapper {
//    border-radius: 1rem;
//    overflow: hidden;
//    position: relative;
//    &__image {
//      width: 100%;
//      object-fit: cover;
//    }
//
//    .icon {
//      position: absolute;
//      top: .75rem;
//      right: 1rem;
//      background: rgba(0, 0, 0, 0.5);
//      padding:.75rem;
//      border-radius: 50%;
//    }
//  }
//
//  &__info {
//    display: flex;
//    align-items: center;
//    gap: 0.75rem;
//    margin-top: 0.5rem;
//    color: rgb(174, 182, 201);
//    //justify-content: space-between;
//  }
//
//  &__detail {
//    margin-top: 0.5rem;
//    //flex: 1;
//    text-align: center;
//
//    &--category {
//      display: flex;
//      align-items: center;
//      gap: 0.25rem;
//    }
//  }
//
//  &__name {
//    margin-top: 0.5rem;
//    font-weight: bold;
//  }
//}
//
//&__name {
//text-align: center;
//}
