.navigation {
  background: #161d2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 0.75rem;
  position: relative;

  .navigation__logo {
  }

  .navigation__controls {
    .navigation__controls {
      background: none;
      border: none;
      cursor: pointer;
      margin: 0 0.25rem;
    }
  }

  .navigation__avatar__container {
    cursor: pointer;
    .navigation__avatar__container__icon img {
      width: 40px;
      height: auto;
    }
  }

  .navigation__avatar__container__logout__container {
    position: absolute;
    top: 83%;
    right: 3%;
    background: #29385d;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}

///// FOR  TABLET////////////////////////////////

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation {
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }
}

/////FOR DESKTOP////////////////////////////////

@media (min-width: 1024px) {
  .navigation {
    border-radius: 1rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;

    .navigation__controls {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 30rem;
    }

    .navigation__avatar__container__logout__container {
      position: absolute;
      top: 85%;
      right: 10%;
      background: #29385d;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }
    .navigation__avatar__container {
      .navigation__avatar__container__icon img {
        width: 60px;
        height: auto;
      }
    }
  }
}

//@media screen and (max-width: 1024px) {
//  .navigation {
//    position: fixed;
//    top: 0;
//    left: 0;
//    right: 0;
//    z-index: 100;
//  }
//}
//
//@media screen and (min-width: 1025px) {
//  .navigation {
//    position: fixed;
//    top: 1rem;
//    //bottom: 10rem;
//    bottom: 0;
//    left: 1rem;
//    border-radius: 1rem;
//    //width: 250px;
//    flex-direction: column;
//    justify-content: space-between;
//
//    .navigation__controls {
//      background: none;
//      border: none;
//      cursor: pointer;
//      display: flex;
//      gap: 0.25rem;
//      flex-direction: column;
//      margin-bottom: 3rem;
//    }
//  }
//}
