.categorySeries__wrapper {
  color: white;

  .categorySeries__wrapper_header {
    margin: 4% 0 4% 4%;
  }

  .categorySeries__wrapper__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.categoryMovies__wrapper {
  color: white;

  .categoryMovies__wrapper_header {
    margin: 4% 0 4% 4%;
  }

  .categoryMovies__wrapper__container {
    display: flex;
    flex-wrap: wrap;
  }
}

/////FOR DESKTOP////////////////////////////////

@media (min-width: 1024px) {
  .categoryMovies__wrapper_header {
    font-size: 1.5rem;
  }

  .categorySeries__wrapper_header{
    font-size: 1.5rem;
  }

}
