@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  /*height: auto;*/
}

body{
  /*min-height: 100vh;*/
  background: #10141E;
  font-family: "Roboto", sans-serif;
}
